img {
    display: flex;
}
body {
    background-color: black;
    font-family:'Courier New', Courier, monospace;
}
h1 {
    color: white;
    font-size: 18px;
    text-align: center;
}
h2 {
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #E0D67D;

    
}
.amarelo {
    color:#E0D67D;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3 {
    color: white;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
}
.linkhome {
    color: white;
    margin-left: 47%;
    text-decoration: none;
    font-size: 20px;
    margin-top: 80%;
}
.linkhomeimg {
    margin-left: 51%;
    width: 3%;
}

.logohome {
margin-left: 36%;
width: 35%;
}

.divsobrenos {
    max-width: 25%;
    max-height: 35%;
    padding-left: 1.5rem;
    line-height: 1.5rem;
    font-family:'Courier New';
}
.servicos {
    max-width: 25%;
    max-height: 35%;
    padding-left: 1.5rem;
    line-height: 1.5rem;
    font-family:'Courier New';

}

.imgservicos {
    display: flex;
    max-width: 40%;

}

.logocabelho {
    width: 10%;
    float: left;
    margin-right: 0px;
    align-items: start;
}

display: flex;
align-items: center;